{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<header class="header">
    <a href="#test">
        {{> logo }}
    </a>

    <nav class="header_nav">
        <div class="header_nav_right">
            {{> nav list=header}}
        </div>
    </nav>
</header>
{{#with main}}
<div class="main">
    <img src="/img/test2.png" alt="Main image" class="main_image">
    <div class="main_content">
        <h1 class="main_title">{{heading}}</h1>
        <p class="description_text">{{description}}</p>
        <a href="{{href}}" class="button">{{button}}</a>
    </div>
</div>
{{/with}}
<main class="featured">
    {{#each featured}}
    {{> cardFeatured data=this}}
    {{/each}}
</main>
<div class="actions">
    {{#each actions}}
    <div class="form_actions">
        <h3 class="actions_heading">{{heading}}</h3>
        <a href="{{url}}" class="button_actions">{{text}}</a>
    </div>
    {{/each}}
</div>




<footer class="footer ">
    <div>
        {{> logo }}
        <span class="footer_copyright">Copyright 2023-2024</span>
    </div>

    {{#each footer}}
    <div class="col-3">
        <span class="footer_title">{{title}}</span>
        {{> nav list=links isVertical=true}}
    </div>
    {{/each}}
</footer>


{{!-- Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}